  <!-- Main row -->
  <% translation_scope = "activerecord.attributes.refuel" %>
  <div class="row">
    <!-- Left col -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= I18n.t("layout.latest-refuels") %></h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin table-hover">
              <thead>
                <tr>
                  <th><%= I18n.t(:date, scope: translation_scope) %></th>
                  <th class="text-right"><%= I18n.t(:odometer, scope: translation_scope) %></th>
                  <th class="text-right"><%= I18n.t(:volume, scope: translation_scope) %></th>
                  <th class="text-right"><%= I18n.t(:price, scope: translation_scope) %></th>
                  <th class="text-right"><%= I18n.t(:cost, scope: translation_scope) %></th>
                  <th class="text-right"><%= I18n.t(:consumption, scope: translation_scope) %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- Refuelings -->
                <% show_delete = true %>
                <% @refuels.each do |refuel| %>
                  <% consumption = refuel.consumption %>
                  <% color = case
                             when consumption.blank?
                               ""
                             when (consumption - @totals[:consumption]) > (0.05 * @totals[:consumption])
                               "danger"
                             when (consumption - @totals[:consumption]) < (0.05 * @totals[:consumption])
                               "success"
                             else
                               ""
                             end %>
                  <tr id="refuel-<%= refuel.id %>" class="<%= color %>">
                    <td title="<%= I18n.t( (refuel.full ? :full : :partial), scope: translation_scope) %>">
                      <%= I18n.l(refuel.date) %>
                    </td>
                    <td class="text-right"><%= refuel.odometer.to_i %></td>
                    <td class="text-right"><%= sprintf( "%0.02f", refuel.volume ) %></td>
                    <td class="text-right"><%= sprintf( "%0.03f", refuel.price ) %></td>
                    <td class="text-right"><%= sprintf( "%0.02f", refuel.cost ) %></td>
                    <td class="text-right"><%= sprintf( "%0.02f", consumption ) if consumption %></td>
                    <td class="text-right">
                      <% if show_delete -%>
                        <%= link_to content_tag("i", "", class: "fa fa-trash-o"),
                                      refuel_path(refuel),
                                      method: :delete,
                                      data: { confirm: I18n.t("layout.destroy-confirmation") } %>
                        <% show_delete = false -%>
                      <% end -%>
                    </td>
                  </tr>
                <% end %>
                <!-- Average -->
                <tfoot>
                  <tr id="refuel-totals" style="font-weight:bold;">
                    <td>TOTAL</td>
                    <td class="text-right"><%= @totals[:odometer].to_i %></td>
                    <td class="text-right"><%= @totals[:volume] %></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><%= sprintf( "%0.02f", @totals[:consumption]) %></td>
                    <td></td>
                  </tr>
                </tfoot>
              </tbody>
            </table>
          </div>
        <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <%= link_to I18n.t("layout.new-refuel"), new_refuel_path, class: "btn btn-sm btn-info btn-flat pull-left" %>
        </div>
      <!-- /.box-footer -->
      </div>
    <!-- /.box -->
    </div>
  <!-- /.col -->
  </div>
