<header class="main-header">
  <a class="logo" href="/">
    Gas App
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= render partial: "layouts/user_information" %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
