<aside class="main-sidebar">
  <section class="sidebar">
    <% if user_signed_in? %>
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag 'user-avatar.160x160.png', class: 'img-circle', alt: t('User image') %>
        </div>
        <div class="pull-left info">
          <p><%= current_user.name %></p>
          <a href="#">
            <i class="fa fa-circle text-success">
            </i>Online
            </a>
        </div>
      </div>
      <form action="#" class="sidebar-form" method="get">
        <div class="input-group">
          <input class="form-control" name="q" placeholder="Search..." type="text" />
          <span class="input-group-btn">
          <button class="btn btn-flat" id="search-btn" name="search" type="submit">
          <i class="fa fa-search">
          </i></button></span>
        </div>
      </form>
      <%= render partial: "layouts/sidebar_menu" %>
    <% end %>
  </section>
</aside>
