        <!-- User Start -->
        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= image_tag 'user-avatar.160x160.png', class: 'user-image', alt: t('User image') %>
          <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag 'user-avatar.160x160.png', class: 'img-circle', alt: t('User image') %>
              <p>
              <%= current_user.name %> <%= "<#{current_user.email}>" %>
                <small><%= I18n.t("layout.user.since")%[I18n.l(current_user.created_at.to_date, format: :long)] %></small>
              </p>
            </li>
            <li class="user-body">
              <div class="col-xs-4 text-center">
                <a href="#"> Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#"> Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#"> Friends</a>
              </div>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat" href="#"><%= I18n.t("layout.user.my-profile") %></a>
              </div>
              <div class="pull-right">
                <%= link_to I18n.t("layout.user.sign-out"), destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat" %>
              </div>
            </li>
          </ul>
        </li>
        <!-- User End -->
